@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header {
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.72), rgba(15, 15, 15, 0.72)),
  radial-gradient(63.94% 63.94% at 50% 0%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
}

.bg-login {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),
radial-gradient(63.94% 63.94% at 50% 0%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);

}

.border-header {
  border: 1px solid;

  border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),
  linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 74.04%);
  
  
}

.burger {
    position: relative;
    z-index: 50;
    align-items: center;
    rotate: 180deg;
    justify-content: flex-end;
    padding: 10px;
    width: 38px;
    height: 36px;
  }
  
  .burger span {
    display: block;
    width: 12px;
    height: 2px;
    transform: scale(1);
    background-color: white;
  }
  
  .burger::before, .burger::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before {top: 30%}
  
  .burger::after {bottom: 30%}
  
  .burger.active span { transform: scale(0); }
  
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  .wadow {
    box-shadow: 0px 12px 16px -4px #10182814;
  }

  .heading-hero {
    font-size: clamp(50px, 8.59vw,110px);
  }

  .bg-gradient {
    background: linear-gradient(360deg, #FFFFFF 63.2%, rgba(255, 255, 255, 0) 100%);
  }

  .animbg {
    background: linear-gradient(180deg, #D7F5F5 0%, #6ACBCC 100%);
  }

  .animbgSecond {
    background: linear-gradient(180deg, #DBD7F5 0%, #AB9FF9 100%);
  }

  .elips {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #6ACBCC 100%),
    linear-gradient(270deg, rgba(255, 255, 255, 0) 2.07%, #EB6A67 91.67%);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6ACBCC; 
  }
  
  /* Handle on hover */

  .bgg {
    background: #EFFBFB;
    border: 1px solid #B3E4E57A
  }

  .animationelips {
    position: absolute;
    z-index: 20;
    top: -50px;
    animation-name: box-mover;
    animation-duration: 5s;
    animation-iteration-count: 100;
  }

  @keyframes box-mover {
    0% {
      left: 30%;
      top: -50px;
      rotate: -5deg;
    }
    25% {
      left: 50%;
      top: -50px;
      rotate: 20deg;
    }
    50% {
      left: 55%;
      top: -130px;
      rotate: 35deg;
    }
    75% {
      left: 50%;
      top: -100px;
      rotate: 20deg;
    }
    100% {
      left: 30%;
      top: -50px;
      rotate: -3deg;
    }
  }