@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header {
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.72), rgba(15, 15, 15, 0.72)),
  radial-gradient(63.94% 63.94% at 50% 0%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
}

.bg-login {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),
radial-gradient(63.94% 63.94% at 50% 0%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);

}

.border-header {
  border: 1px solid;

  border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),
  linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 74.04%);
  
  
}

.burger {
    position: relative;
    z-index: 50;
    align-items: center;
    rotate: 180deg;
    justify-content: flex-end;
    padding: 10px;
    width: 38px;
    height: 36px;
  }
  
  .burger span {
    display: block;
    width: 12px;
    height: 2px;
    transform: scale(1);
    background-color: white;
  }
  
  .burger::before, .burger::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before {top: 30%}
  
  .burger::after {bottom: 30%}
  
  .burger.active span { transform: scale(0); }
  
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  .wadow {
    box-shadow: 0px 12px 16px -4px #10182814;
  }

  .heading-hero {
    font-size: clamp(50px, 8.59vw,110px);
  }

  .bg-gradient {
    background: linear-gradient(360deg, #FFFFFF 63.2%, rgba(255, 255, 255, 0) 100%);
  }

  .animbg {
    background: linear-gradient(180deg, #D7F5F5 0%, #6ACBCC 100%);
  }

  .animborder {
    border: 1.71px solid;
    border-image-source: radial-gradient(50% 50% at 50% 50%, rgba(44, 81, 82, 0.32) 0%, rgba(99, 182, 184, 0.32) 100%);
  }

  .animbgSecond {
    background: linear-gradient(180deg, #DBD7F5 0%, #AB9FF9 100%);
  }

  .animborderSecond {
    border: 1.71px solid;
    border-image-source: radial-gradient(50% 50% at 50% 50%, rgba(56, 52, 82, 0.32) 0%, rgba(171, 159, 249, 0.32) 100%);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6ACBCC; 
  }
  
  /* Handle on hover */