@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header {
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.72), rgba(15, 15, 15, 0.72)),
  radial-gradient(63.94% 63.94% at 50% 0%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
}

.bg-login {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),
radial-gradient(63.94% 63.94% at 50% 0%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);

}

.border-header {
  border: 1px solid;

  border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)),
  linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 74.04%);
  
  
}

.burger {
    position: relative;
    z-index: 50;
    align-items: center;
    rotate: 180deg;
    justify-content: flex-end;
    padding: 10px;
    width: 38px;
    height: 36px;
  }
  
  .burger span {
    display: block;
    width: 12px;
    height: 2px;
    transform: scale(1);
    background-color: white;
  }
  
  .burger::before, .burger::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before {top: 30%}
  
  .burger::after {bottom: 30%}
  
  .burger.active span { transform: scale(0); }
  
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  .wadow {
    box-shadow: 0px 12px 16px -4px #10182814;
  }

  .heading-hero {
    font-size: clamp(50px, 8.59vw,110px);
  }

  .bg-gradient {
    background: linear-gradient(360deg, #FFFFFF 63.2%, rgba(255, 255, 255, 0) 100%);
  }

  .animbg {
    background: linear-gradient(180deg, #D7F5F5 0%, #6ACBCC 100%);
  }

  .animbgSecond {
    background: linear-gradient(180deg, #DBD7F5 0%, #AB9FF9 100%);
  }

  .elips {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #6ACBCC 100%),
    linear-gradient(270deg, rgba(255, 255, 255, 0) 2.07%, #EB6A67 91.67%);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6ACBCC; 
  }
  
  /* Handle on hover */

  .bgg {
    background: #EFFBFB;
    border: 1px solid #B3E4E57A
  }

  .animationphone {
    margin-bottom: -100px;
    animation-name: phone-mover;
    animation-duration: 5s;
    animation-iteration-count: 100;
  }

  @keyframes phone-mover {
    0% {
      bottom: -0px;
    }
    50% {
      bottom: -100px;
    }
    100% {
      bottom: -0px;
    }
  }

  .animationphone2 {
    bottom: -100px;
    animation-name: phone-mover2;
    animation-duration: 5s;
    animation-iteration-count: 100;
  }

  @keyframes phone-mover2 {
    0% {
      margin-bottom: -25px;
    }
    50% {
      margin-bottom: -100px;
    }
    100% {
      margin-bottom: -25px;
    }
  }

  .animationelips {
    position: absolute;
    z-index: 20;
    top: -50px;
    animation-name: box-mover;
    animation-duration: 7s;
    animation-fill-mode: both;
    animation-iteration-count: 100;
  }

  @media (max-width: 500px) {
    .animationelips {
      position: absolute;
      z-index: 20;
      top: -50px;
      animation-name: box-mover2;
      animation-duration: 7s;
      animation-fill-mode: both;
      animation-iteration-count: 100;
    }
  }
  .animationelips2 {
    position: absolute;
    z-index: 20;
    top: 0px;
    background: #6ACBCC;
    mix-blend-mode: normal;
    opacity: 0.48;
    filter: blur(64px);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */
    transform: rotate(-11.95deg);
    animation-name: box-mover;
    animation-duration: 7s;
    animation-fill-mode: both;
    animation-iteration-count: 100;
  }

  @keyframes box-mover {
    0% {
      left: 30%;
      rotate: -3deg;
    }
    50% {
      left: 39%;
      rotate: 30deg;
    }
    100% {
      left: 30%;
      rotate: -3deg;
    }
  }

  @keyframes box-mover2 {
    0% {
      left: 17%;
      rotate: -3deg;
    }
    50% {
      left: 22%;
      rotate: 30deg;
    }
    100% {
      left: 17%;
      rotate: -3deg;
    }
  }
  

  .animtik {
    animation-name: rotate-tik;
    animation-duration: 2900ms;
    animation-fill-mode: both;
    animation-iteration-count: 100;
  }

  @keyframes rotate-tik {
    0% {
      rotate: 0deg;
      top: 7%;
    }
    50% {
      rotate: -7.5deg;
      top: 10%;
    }
    100% {
      rotate: 0deg;
      top: 7%;
    }
  }